.serverless/aws-python-http-api-project.zip
.serverless/cloudformation-template-create-stack.json
.serverless/cloudformation-template-update-stack.json
.serverless/custom-resources.zip
.serverless/serverless-state.json
__pycache__/handler.cpython-38.pyc
__pycache__/s_hello.cpython-38.pyc
